@{
    ViewBag.Title = "Index";
}

@*
    --==
    ==--
*@


<h2>Lägg till önskelista</h2>
<form method="post" action="@Url.Action("Insert", "Home")">
    <label>
        Önskelista:
        <input type="text" name="onskelista_artal" value="" placeholder="Årtal" />
    </label>
    <label>
        Beskrivning:
        <input type="text" name="onskelista_beskrivning" value="" placeholder="Beskrivning" />
    </label>
    <label>
        <input type="number" name="onskelista_levererad" value="1" hidden />
    </label>
    <input type="submit" value="Lägg till önskelista" />
</form>

<h2>Uppdatera önskelista</h2>
<table style="text-align:left;">
    <tr>
        <th>Årtal</th>
        <th>Lev.</th>
        <th>Beskrivning</th>
    </tr>
    @foreach (var row in ViewBag.onskelista.Rows)
    {
        <tr>
            <td>@row["artal"]</td>
            <td>@row["levererad"]</td>
            <td>@row["beskrivning"]</td>
            <td>

                <!-- Uppdaterar -->
                <form method='get' action="@Url.Action("Update", "Home")">
                    <input type='text' name='upd_artal' value='@row["artal"]'>
                    <input type='number' name='upd_levererad' placeholder='1 or 0' min='0' max='1' required>
                    <input type='submit' value='uppdatera'>
                </form>

                <!-- Flyttar -->
                <form method='get' action="@Url.Action("Move", "Home")">
                    <input type='text' name='move_artal' value='@row["artal"]'>
                    <input type='number' name='move_levererad' value='@row["levererad"]'>
                    <input type='text' name='move_beskrivning' value='@row["beskrivning"]'>
                    <input type='submit' name='move_onskelista' value='flytta'>
                </form>

            </td>
        </tr>

    }
</table>

<h2>Önskelistor</h2>
<table>
    <tr>
        @foreach (var dataColumn in ViewBag.onskelista.Columns)
        {
            <th>@dataColumn.ColumnName</th>
        }
    </tr>
    @foreach (var customerRow in ViewBag.onskelista.Rows)
    {
        <tr>
            @for (int i = 0; i < ViewBag.onskelista.Columns.Count; ++i)
            {
                <td>@customerRow[i]</td>
            }
        </tr>
    }
</table>

<h2>Levererade önskelistor</h2>
<table>
    <tr>
        @foreach (var dataColumn in ViewBag.onskelistaLevererade.Columns)
        {
            <th>@dataColumn.ColumnName</th>
        }
    </tr>
    @foreach (var customerRow in ViewBag.onskelistaLevererade.Rows)
    {
        <tr>
            @for (int i = 0; i < ViewBag.onskelistaLevererade.Columns.Count; ++i)
            {
                <td>@customerRow[i]</td>
            }
        </tr>
    }
</table>

<h2>Listbox för levererade önskelistor</h2>
<select size='3'>
    @foreach (var dataRow in ViewBag.onskelistaLevererade.Rows)
    {
        <optgroup label='Önskelista: @dataRow["artal"]'>
            <option>
                Levererad: @dataRow["levererad"]
            </option>
            <option>
                Beskrivning: @dataRow["beskrivning"]
            </option>
        </optgroup>
    }
</select>

<h2>Visa önskelistsdetaljer</h2>
<form method="post" action="@Url.Action("dropdownListradArtal", "Home")">
    <label>
        Önskelista:
        <select name="visa_artal">
            @foreach (var row in ViewBag.dropdownListrad.Rows)
            {
                <option value="@row["onskelistaArtal"]">@row["onskelistaArtal"]</option>
            }
        </select>
    </label>
    <input type="submit" value="Visa" />
</form>

<h2>Resultat av visa önskelistsdetaljer</h2>
@if (ViewBag.SearchResults != null && ((System.Data.DataTable)ViewBag.SearchResults).Rows.Count > 0)
{
    <table>
        <tr>
            <th>Önskelista</th>
            <th>Antal</th>
            <th>Leksak</th>
        </tr>
        @foreach (var row in ViewBag.SearchResults.Rows)
        {
            <tr>
                <td>@row["onskelistaArtal"]</td>
                <td>@row["antal"]</td>
                <td>@row["namn"]</td>
            </tr>
        }
    </table>
}
else
{
    <p>Inga detaljer hittades</p>
}